/*  Title start */

.title {
  font-family: "Acme", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: calc(30 / 36);

  color: black;
}

.title::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  margin: 20px auto 35px;

  background: #e8c300;
  border-radius: 5px;
}

/*  Title end */

/* subtitle  start */

.subtitle {
  font-weight: bold;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  line-height: calc(28 / 18);
  color: black;
}

/* subtitle  end */

/*  Info start */

.info {
  font-size: 18px;
  font-weight: 300;
}
/*  Info end */

/* btn start */
.btn {
  color: #fff;
  display: inline-block;
  padding: 18px 0px 20px 0px;
  width: 200px;
  max-width: 100%;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;

  cursor: pointer;
  text-align: center;
  letter-spacing: 0.02em;
  transition: color 0.2s, background 0.2s, opacity 0.2s;
  text-transform: uppercase;

  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
}

/* btn-menu start */
.btn-menu {
  background: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  border: 0;
}

/* btn-close start */
.btn-close {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: transform 0.2s, opacity 0.2s;
}

.btn-close:hover {
  transform: scale(1.1);
}

.btn-close:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.btn-close::before,
.btn-close::after {
  content: "";
  background: #d2d2d2;
  height: 40px;
  width: 3px;
  position: absolute;
  border: 10px;
  top: 50%;
}

.btn-close::before {
  transform: translateY(-50%) rotate(45deg);
}

.btn-close::after {
  transform: translateY(-50%) rotate(-45deg);
}
/* btn-close end */

.btn-menu__box {
  display: inline-block;
  width: 40px;
  height: 24px;
}

.btn-menu__inner::before,
.btn-menu__inner::after,
.btn-menu__inner {
  background: #fff;
  width: 100%;
  height: 4px;
  border-radius: 5px;
}

.btn-menu__inner {
  display: block;
  top: 50%;
  position: relative;
}

.btn-menu__inner::before,
.btn-menu__inner::after {
  content: "";
  position: absolute;
  left: 0;
}

.btn-menu__inner::before {
  top: -10px;
}

.btn-menu__inner::after {
  bottom: -10px;
}
/* btn-menu end */

.btn-right {
  margin-left: 30px;
}

.btn:hover {
  background: #e8c300;
}

.btn:focus {
  background: #e8c300;
}

.btn:active {
  opacity: 0.8;
  transform: scale(0.95);
  background-color: rgb(177, 43, 43);
}

@media (max-width: 576px) {
  .btn {
    padding: 16px 20px;
    width: 200px;
    margin: 0 auto;
  }
}

@media (max-width: 443px) {
  .btn-right {
    margin-top: 10px;
  }
}

/* btn end */

/*  container start */
.container {
  padding: 0 20px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
/*  container end */

/* socials start */
.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.socials__item {
  margin-right: 25px;
}

.socials__link {
  display: inline-block;
}

.socials__icon {
  fill: #fbd633;
  width: 35px;
  height: 35px;
  transition: fill 0.2s, opacity 0.2s;
}

.socials__icon--vk:hover {
  fill: #5078a5;
}

.socials__icon--fb:hover {
  fill: #3e58a1;
}

.socials__icon--inst:hover {
  fill: #e6369c;
}

.socials__icon:active {
  opacity: 0.7;
}

.socials__logo {
  fill: #fff;
}

@media (max-width: 767px) {
  .socials__item {
    margin-right: 15px;
  }

  .socials__icon {
    width: 45px;
    height: 45px;
  }
}
/* socials end */

/* mobile-menu start */
.mobile-menu {
  width: 100%;
}

.mobile-menu__ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu__link {
  text-decoration: none;
  padding: 20px 0;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  color: rgb(44, 44, 44);
  font-weight: 600;
  text-align: center;
  transition: background 0.2s, color 0.2s, opacity 0.2s;
}

.mobile-menu__link:hover {
  background: #fbd633;
  color: #fff;
}

.mobile-menu__link:active {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .mobile-menu__link {
    font-size: 20px;
  }
}
/* mobile-menu end */
